.chats {
  flex: 2;

  .chatInfo {
    height: 50px;
    background-color: grey;
    display: flex;
    align-items: center;
    padding: 10px;
    color: white;

    .profile {
      margin: 10px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}

.message {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  overflow: scroll;
  margin-top: 20px;
  height: 330px;

  .messageInfo {
    display: flex;
    flex-direction: column;
    color: grey;
    font-weight: 300;
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .messageContent {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    p {
      background-color: white;
      padding: 10px 20px;
      border-radius: 0px 10px 10px 10px;
      max-width: max-content;
    }
    img {
      width: 50%;
    }
  }

  &.owner {
    flex-direction: row-reverse;
    .messageContent {
      align-items: flex-end;
      p {
        background-color: black;
        color: white;
        border-radius: 10px 0px 10px 10px;
      }
    }
  }
}

.input{
    height: 50px;
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    input{
        width: 100%;
        border: none;
        outline: none;
        color: black;
        font-size: 18px;

        &::placeholder{
            color: lightgray;
        }
    }
    .send{
        display: flex;
        align-items: center;
        gap: 10px;

        .img{
            color: lightgray;
            height: 24px;
            cursor: pointer;
        }

        button{
            border: none;
            padding: 10px 15px;
            color: white;
            background-color: grey;
        }
    }
}
