.list {
  display: flex;

  .listContainer {
    flex: 6;

    .buttons {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      flex: 1;
      padding: 10px;
    }
    .searchCategories{
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
}
